*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-full {
  .el-dialog__body {
    padding: 0 !important;
  }
}

.bt-Icon {
  cursor: pointer;

  &:hover {
    opacity: .85;
    background-color: #e8f9ff;
  }

  &.active{
    background-color: #deffe4;
  }
}

.icon-out {
  fill: #64A0CF;
}

.icon-in {
  fill: #9EEFD9;
}

.icon-middle {
  fill: #33DEB4;
}

.gray{
  .icon-out {
    fill: #666;
  }

  .icon-in {
    fill: #aaa;
  }

  .icon-middle {
    fill: #777;
  }
}

.active{
  .icon-out {
    fill: #008fff;
  }

  .icon-in {
    fill: #44fac9;
  }

  .icon-middle {
    fill: #00ffc0;
  }
}

.icon-disable {
  cursor: not-allowed;
}

.props-row {
  margin-bottom: 0 !important;

  .el-form-item__content,
  .el-form-item__label {
    color: #aaa;
  }
}
